<div class="level">
  <div class='level-top'>
      <div class="row">
        <div class="col-3">
          LEVEL
        </div>
        <div class="col-4">
          DISTANCE
        </div>
        <div class="col-5">
          HIGH SCORE
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          {{ data.number }}
        </div>
        <div class="col-4">
            {{ data.distance }}
        </div>
        <div class="col-5">
            {{ data.highscore }}
        </div>
      </div>
  </div>

  <div class="row">

  </div>
</div>
