$color-bg-purple-light-lock: #353A59;
$color-bg-purple-light-active: #606DC4;
$color-bg-purple-dark: #2C3150;
$color-text-purple: #8E93AE;
$color-icon-purple: #353A59;
$color-text-purple-title: #9FA7DB;
$color-button-purple-border: #535876;
$color-white: #FFF;
$color-orange: #FF5D4D;
